@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Plan 2015 - @ViewBag.Title</title>
    <base href="@Url.Content("~/")"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
@if (ViewBag.HideMenu == null)
{
    <header class="navbar navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Activity")">Begivenheder</a></li>
                <li><a href="@Url.Action("Index", "Turnout")">Turnout</a></li>
                <li><a href="@Url.Action("Index", "Punctuality")">Punktlighed</a></li>
                <li><a href="@Url.Action("Index", "Score")">Stilling</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="disabled"><a href="#">De Magiske Lege</a></li>
                <li><a href="@Url.Action("Setup", "MagicGamesSetup")">Setup</a></li>
                <li><a href="@Url.Action("Marker", "MagicGamesSetup")">O-Løb</a></li>
                <li><a href="@Url.Action("Score", "MagicGamesSetup")">Resultat</a></li>
            </ul>
        </div>
    </header>
}
<div class="container">
    <h1>@if (ViewBag.HideMenu == null) {@ViewBag.Title}</h1>
    <div class="row">
        @RenderBody()
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.3.0.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script type="text/javascript" src="~/signalr/hubs"></script>
<script type="text/javascript" src="~/Scripts/App.js"></script>

@RenderSection("Scripts", false)
</body>
</html>
